hydra:
  mode: MULTIRUN
db:
  db_creator: abdullahbuzaid
  db_name: ali-express-data
  sample_path: data/samples/sample.csv
  data_path: data/raw.csv
  kaggle_filename: raw
dvc:
  sample_info_path: data/samples/sample.csv.dvc
  data_version_yaml_path: configs/data_version.yaml
zenml:
  features:
    numerical: ['rating', 'sold', 'discount', 'shippingCost']
    all: ['title', 'rating', 'sold', 'discount', 'shippingCost', 'year', 'month', 'category_name', 'type']
    target: 'price'
mlflow:
  train_val_data_version: 1
  test_data_version: 2
  val_size: 0.2
  test_size: 0.5